/* sample02.html */
header {
    padding: 0px;
    text-align: center;
}
a {
    display: inline;
    color: darkblue;
    text-decoration: underline;
}

a:hover {
    color:red;
    
}
nav {

    text-align: center;
}
ol li {
  
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;

}
ul li {
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;

}

article {
    padding: 5px;
    border: dotted 3px green;
    margin-top: 50px;
    background-color: yellow;
}

aside {
    padding: 5px;
    border: double 3px blue;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    background-color: grey;
}

section {
    padding: 5px;
    margin-top: 50px;
    border: dotted 5px red;
    background-color: yellow;

}

footer {
    padding: 5px;
    margin-top: 50px;
    font-size: 12px;


}